.header {
  position: relative;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  align-items: center;

  &.show {
    @media (max-width: $tablet-width) {
        .header__menu-button {
          height: 32px;
          background-image: url('../img/svg/close-button.svg');
          background-size: 32px 32px;
          background-position: 100% 0;
        }
      }

    @media (max-width: $tablet-width) and (min-width: 768px) {
      .header__button-container {
        position: absolute;
        top: 110px;
        right: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 30px;
        min-width: 164px;
        box-sizing: border-box;
        color: #000000;
        font-weight: 500;

        background-color: #ffffff;
        border-radius: 10px;
        border-top-right-radius: 0;

        z-index: 10;
      }

      .header__link--black {
        margin-left: 0;
        text-align: left;
      }
    }

    @media (max-width: $mobile-width) {
      position: fixed;
      height: 100%;
      width: 100%;
      overflow: auto;
      background-color: #25262a;
      z-index: 100;
      top: 0;

      .header__nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }


      .header__left {
        padding-left: 0;
        padding-right: 0;
        padding-top: 27px;
        order: 1;
        width: 100%;
        align-self: flex-start;
      }

      .header__nav {
        font-size: 16px;
        padding-bottom: 16px;

        .header__link {
          margin-top: 10px;
          margin-bottom: 19px;
        }
      }

      .header__link--mobile {
        opacity: 0;
      }

      .header__bottom {
        width: calc(100% + 44px);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 16px;

        padding-top: 15px;
        margin-left: -22px;
        margin-right: -22px;
        border-top: 1px solid #696969;

        .header__link {
          margin-top: 10px;
          margin-bottom: 19px;
        }

        .header__button {
          display: inline-block;
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: $mobile-width) {
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 38px;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}

.header__logo {
  display: block;
  height: auto;
}

.header__bottom {
  display: none;
}

.header__left {
  display: flex;
  align-items: center;
  padding-left: 9px;
  flex-wrap: wrap;

  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-right: 0;
    order: 1;
    width: 100%;
  }
}

.header__right {
  display: flex;
  align-items: center;
  padding-left: 90px;

  @media (max-width: $tablet-width) {
    padding-left: 38px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 20px;
  }
}

.header__button-container {
  display: flex;
  align-items: center;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__link {
  position: relative;
  display: inline-block;
  padding:0;
  margin: 0;
  margin-left: 33px;
  margin-top: 4px;
  margin-bottom: 7px;

  color: inherit;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 0;

  border-bottom: 1px solid transparent;
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid $orange;
  }

  &--phone {
    padding-left: 22px;

    &::before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background-image: url('../img/phone.png');
      background-repeat: no-repeat;
      background-size: 14px 14px;
      top: 0;
      left: 0;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    margin-left: 29px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }

  &--mobile {
    display: none;

    @media (max-width: $mobile-width) {
      display: inline-block;
      padding-right: 9px;
    }
  }

  &--hidden {
    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.header__button {
  color: #ffffff;

  @media (max-width: $tablet-width) {
    font-size: 10px;
  }

  @media (max-width: $mobile-width) {
    max-width: 200px;
    display: none;
  }
}

.header__nav {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header__menu-button {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    width: 41px;
    min-width: 39px;
    height: 28px;
    margin-left: 37px;
    background-image: url('../img/svg/burger-menu.svg');
    background-repeat: no-repeat;
    background-size: cover;

    border: none;
    background-color: transparent;
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    width: 39px;
  }
}

.header__logo {
  img {

    @media (max-width: $tablet-width) {
      width: 108px;
      height: 108px;
    }

    @media (max-width: $mobile-width) {
      width: 88px;
      height: 88px;
    }
  }
}
