.link-container {
  background-color: #ffffff;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;

  .btn {
    max-width: 700px;
    width: 100%;

    @media (max-width: $tablet-width) {
      max-width: 562px;
    }
  }

  @media (max-width: $tablet-width) {
    min-height: 266px;
    padding-top: 25px;
    padding-bottom: 16px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}
